*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

nav{
    width: 100vw;
    height: 10vh;
    background:#333;
}

.content-container{
    width: 100vw;
    height: 90vh;
    display: flex;
    background: lightblue;
}
.register-container{
    width: 50vw;
    height: 90vh;
    background: lightcoral;
}

.profile-container{
    width: 50vw;
    height: 90vh;
    background: lightgoldenrodyellow;
}

.name{
    font-size: 100px;
    color: pink;
    position: absolute;
    padding: 2rem;
    width: 10ch;
}

.message{

}